@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.title{
    font-size: 36px;
    font-weight: 600;
    width: 40%;
    text-align: center;
}

.space{
    font-size: 16px;
    color: lightgray;
    margin: 20px 0;
}

.blogs{
    width: 50%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blog1, .blog2, .blog3{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.blog1 img, .blog2 img, .blog3 img{
    height: 100%;
    border-radius: 10px;
    margin-right: 50px;
}

.blog1 p, .blog2 p, .blog3 p{
    font-size: 16px;
    font-weight: 500;
    width: 50%;
}

.normal-paragraph{
    font-size: 14px;
    color: #4D5562;
}

@media (max-width: 1350px){
    .title{
        width: 75%;
    }

    .blogs{
        width: 80%;
    }
}

@media (max-width: 550px){
    .blogs{
        height: 1000px;
        width: 95%;
    }

    .blog1, .blog2, .blog3{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .blog1 img, .blog2 img, .blog3 img{
        margin-bottom: 20px;
    }

    .blog1 p, .blog2 p, .blog3 p{
        width: 80%;
        font-size: 18px;
    }
}